<li>
    <a class="uk-accordion-title" href="#">
        ${this.game.name}
    </a>
    <div class="uk-accordion-content">
        <ul class="uk-list uk-list-striped">
            <li>
                Url: <a href="${this.game.bggUrl}" target="_blank">${this.game.bggUrl}</a>
                <button class="uk-float-right" onclick="saveGameLocally('${this.game.name}')">Save game</button>
            </li>
            <li>
                Mechanics:
                <span class="uk-float-right">

                    <button onclick="selectNewMechanics('${this.game.name}')">
                        Search for similar games
                    </button>
                </span>
                <ul class="inlined-mechanics-list uk-list-bullet">
                    ${createMechanicEls(this.game.mechanics)}
                </ul>
            </li>
            <li>
                Categories: ${this.game.categories}
            </li>

        </ul>
    </div>
</li>