ul.inlined-mechanics-list li {
    display:inline;
    list-style-type: circle;
    list-style-position: inside;
    padding-right: 5px;
}

.search-container{
    width: 70%;
    padding-left: 10px;
}

.search-buttons-container {
    width: 100%;
}

input#name-search {
    margin-left: 5%;
}
